.ballot-form {
    padding: 2rem;
    margin: 0 auto;
}

.ballot-grid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category-block {
  padding: 0.5rem;
}

.category-title {
  font-size: 1.1rem;
  /* text-transform: uppercase; */
  font-weight: bold;
  padding: 0.3rem;
  border-bottom: 1px solid lightgray;
  min-height: 3.5rem;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
}

.category-candidates {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.candidate-block {
    overflow: hidden;
    position: relative;
}

.candidate-block > label {
    min-height: 2rem;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
}

.candidate-block > label > span {
    max-width: 92%;
    font-size: 1rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
	border: 2px solid #ffbb4d;
  background-color: rgba(255, 187, 77, 0.1);
  border-radius: 30px;
}

input[type="radio"] ~ label > svg {
  opacity: 0;
}

input[type="radio"]:checked ~ label > svg {
  opacity: 1;
  fill: #ffbb4d;
}

@media (min-width: 1024px) {
  .ballot-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  .ballot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .ballot-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
